<%= form_for @changeset, topic_path(@conn, :update, @topic), fn f ->  %>

    <%= text_input f, :title, placeholder: "Title", class: "form-control" %>
    <%= error_tag f, :title %>
    <%= submit "Update Topic", class: "waves-effect waves-light btn" %>

    
<%= end %>